<main class="flex-column d-flex text-center align-items-center text-white p-5">
    <br>
    <h2 class="mt-5 p-1 rounded-3 bg-light bg-opacity-50 p-1" style="color: #00378a;">ADD PRODUCT</h2>
    <form style="margin:auto;"
      class="w-100 p-2 m-4 bg-light bg-opacity-25"
    >
      <fieldset class="mb-3">
        <label for="title" class="form-label mb-1">Title</label>
        <input type="text" class="form-control" id="title" />
      </fieldset>
      <fieldset class="mb-3">
        <label for="photo" class="form-label mb-1">Photo</label>
        <input type="text" class="form-control" id="photo" />
      </fieldset>
      <fieldset class="mb-3">
        <label for="price" class="form-label mb-1">Price</label>
        <input type="number" class="form-control" id="price" />
      </fieldset>
      <fieldset class="mb-3">
        <label for="stock" class="form-label mb-1">Stock</label>
        <input type="number" class="form-control" id="stock" />
      </fieldset>
      <button
        id="newProduct"
        type="button"
        class="w-100 btn btn-primary">ADD</button>
    </form>

</main>
<script src="/scripts/form.js"></script>
{{!-- <script src="/socket.io/socket.io.js"></script> --}}
{{!-- <script src="/real.js"></script> --}}