<main class="flex-column d-flex text-center text-white align-items-center p-5">
  <br />
  <h2
    class="rounded-3 bg-light bg-opacity-50 p-1 mt-5"
    style="color: #00378a;"
  >{{title}}</h2>

  <form style="margin: auto" class="w-100 p-2 m-4 bg-light bg-opacity-25">

    <fieldset class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com"
      />
    </fieldset>
    <fieldset class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" />
    </fieldset>
    <button id="login" type="button" class="w-100 btn btn-primary mt-4">LOG IN</button>
    <button id="google" type="button" class="w-100 btn btn-primary mt-4">GOOGLE</button>
    <button id="github" type="button" class="w-100 btn btn-primary mt-4">GITHUB</button>
  </form>

</main>
<script src="/scripts/login.js"></script>
<script src="/scripts/third.js"></script>