<main class="flex-grow-1 p-3 m-auto my-2" style="z-index: -1;" >
  <h1 style="text-align:center; color: #00378a; margin-top: 2em">PRODUCTS</h1>

  <div class="container mt-4">
    <div class="row p-4 m-4" id="products"></div>
  </div>

</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>