<main class="flex-grow-1 d-flex w-100 flex-wrap justify-content-center m-4 p-4">
  <section
    class="w-50 mb-4 d-flex flex-column justify-content-start align-items-center m-4"
    style="min-width: 380px; min-height: 350px;"
  >
    <h2 class="mt-5 mb-2 text-center" style="color: #00378a">{{title}}</h2>
    <form
      style="max-width: 360px;"
      class="w-100 d-flex flex-column justify-content-center items-align-center"
    >
      <fieldset class="mb-3 text-center">
        <label for="name" class="form-label mb-0">Name</label>
        <input type="text" class="form-control" id="name" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="photo" class="form-label mb-0">Photo</label>
        <input type="text" class="form-control" id="photo"/>
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="email" class="form-label mb-0">Email</label>
        <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com"/>
      </fieldset>
      <button id="newEvent" type="button" class="w-100 btn btn-primary">SIGN IN</button>
    </form>
  </section>
  <section class="w-50 mb-4" style="min-width: 380px;">
  </section>
</main>